@import '~bootstrap/scss/bootstrap';

@media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    .teams {
        height: calc(100vh - 151px);
        overflow: hidden;

        > * {
            height: 100%;

            > * {
                height: inherit;

                > * {
                    height: inherit;

                    > * {
                        height: inherit;
                    }
                }
            }
        }
    }
}

// Firework Animation
$particles: 200;
$width: 500;
$height: 600;

$end: ();
$start: ();
@for $i from 0 through $particles {
    $end: $end, random($width)-$width / 2 + px random($height)-$height / 1.2 + px hsl(18, 100, random(90) + 5);
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}

.pyro {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    box-shadow: $start;
    @include animation((1.7s bang ease-out, 1.7s gravity ease-in));
}

@include keyframes(bang) {
    to {
        box-shadow: $end;
    }
}

@include keyframes(gravity) {
    to {
        @include transform(translateY(250px));
        opacity: 0.1;
    }
}
