@import '~bootstrap/scss/bootstrap';
@import '../../content/scss/bootstrap-variables';
@import '../../content/scss/colors';
@import '../../content/scss/mixins';
@import './skill-details/skill-details-rating/skill-details-rating';

.irrelevant-skill {
    .skill-title {
        opacity: 0.7;
    }
    .irrelevant-overlay {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background: white;
    }
}

.teams-skills {
    h4 {
        color: $dojo-text-primary;
    }

    &-filter {
        color: $dojo-text-primary;
        margin-right: 14px;
        .skill-sort select {
            background-color: transparent;
        }
    }

    .teams-skills-list {
        /deep/ .simplebar-scroll-content {
            padding-right: 1.94em !important;
            .simplebar-content {
                padding: 5px;
                overflow-x: hidden;
            }
        }

        .teams-skills-badge {
            padding: 6px;
            min-width: 40px;
            max-height: 26px;
            margin-bottom: 2px;
        }
        .irrelevant-icon {
            z-index: 100;
            font-size: 35px;
            margin-right: 5px;
        }
        .skill-status {
            color: $dojo-text-secondary;
            padding: 10px;
            background-color: transparent;
            &.completed {
                background-color: $warning;
            }
            &.verified {
                background-color: $success;
            }
            &.unverified {
                background-color: $danger;
            }
        }
        .skill-action-bar {
            padding: 5px 10px;
            border-top: 1px solid $gray-400;

            &-item {
                &.disabled {
                    opacity: 0.3;
                    cursor: default;
                }
            }
            a.skill-action-bar-item {
                color: $dojo-text-primary;
            }
        }
        .list-group-item {
            @include skill-list-entry();
            flex: 1 1 32%;
            border: none;
            margin-left: 5px;
            margin-right: 5px;
            hyphens: auto;
            overflow-wrap: anywhere;
        }
    }
}

@media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    .teams-skills {
        .teams-skills-list {
            height: calc(100vh - 276px);
        }
    }
}
