@import '~bootstrap/scss/bootstrap';
@import '../../content/scss/colors';
@import '../../content/scss/mixins';

.teams-achievements {
    h4 {
        color: $dojo-text-primary;
    }
    .achievement-container {
        /deep/ .simplebar-scroll-content {
            padding-right: 1.94em !important;
            .simplebar-content {
                padding: 5px;
            }
        }
        @include accordion();
        height: inherit;
        .achievement-list {
        }
        &-body {
            .achievement-list-title {
                margin-top: 5px;
            }
        }
    }
}
@media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    .teams-achievements {
        .achievement-container {
            height: calc(100vh - 188px);
        }
        /deep/ .card-header,
        /deep/ .achievement-list-header .achievement-list-header-left .achievement-item {
            padding: 0;
        }
    }
}
